* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Lato;
  /* background-color: rgb(45, 45, 45); */
}

body {
  min-height: 100vh;
  background-color: rgb(45, 45, 45);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(29, 29, 29);
  height: 15vh;
  padding: 30px 25px;
  border-bottom: 3px solid #61dafb ;
}

.nav-logo {
  width: 70px;
  height: 60px;
}

nav > div {
  display: flex;
}

nav > div > h3 {
  color: #61dafb;
  margin-left: 10px;
}

nav > h4 {
  color: white;
}

main {
  height: 85vh;
  display: flex;
  justify-content: space-around;
  padding: 30px;
  align-items: center;
  flex-wrap: wrap;
  color: white;
}

main.light {
  color: black;
  background-color: white;
}

main > div > h1 {
  font-size: 45px;
}

main > div >  ul > li {
  line-height: 30px;
  font-size: 20px;
} 

main > div > ul > li::marker {
  color: #61dafb;
  font-size: 1.3em;
}

.toggler {
  display: flex;
  align-items: center;
}

.toggler p {
  font-size: 0.625rem;
  font-weight: 600;
}

nav.light .toggler--slider {
  width: 25px;
  height: 13px;
  background-color: #2B283A;
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  box-sizing: content-box;
  transition-duration: 0.5s;
}

.toggler--slider {
  width: 25px;
  height: 13px;
  background-color: #2B283A;
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  box-sizing: content-box;
  border-color: white;
  background-color: #F5F5F5;
  transition-duration: 0.5s;
}

nav.light .toggler--slider--circle {
  height: 13px;
  width: 13px;
  background-color: white;
  border-radius: 50%;
  transition-duration: 0.5s;
}

.toggler--slider--circle {
  height: 13px;
  width: 13px;
  background-color: black;
  border-radius: 50%;
  transition-duration: 0.5s;
}

nav.light .toggler--light {
  color: #2B283A;
}

.toggler--light {
  color: #FFFFFF;
}

nav.light .toggler--dark {
  color: #2B283A;
}

.toggler--dark {
  color: #FFFFFF;
}

.toggler--slider {
  justify-content: flex-end;
  transition-duration: 0.5s;
}

nav.light {
  background-color: white;
}

.logo{
  width: 300px;
  padding: 20px;
}